.idiomes{
    width: auto;
    margin: 20px;
    color: #444;
    font-weight: 600;
    font-size: 25px;
    font-weight: 500;
}
.progress-stroke{
    margin: 30px;
    height: 5px;
    width: auto;
    background-color: #666;
    display: flex;
    align-items: center;
}
.progess-bar{
    background-color: #444;
    font-weight: initial;
    font-size: 17px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    border-radius: 10px;
    height: 25px;
    animation: progressbar 2s linear forwards;
}
@keyframes progressbar {
    0% {
        width: 0;
        color: transparent;
    }
    99%{
        color: transparent;
    }
    100%{
        color: #fff;
    }
}