* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
body {
    background-image: url(../assets/background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
main {
    width: 80%;
    height: 90%;
    display: flex;
}
.left {
    flex: 1;
    margin: 5px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
    min-height: 80vh;
}
.left .photo-container {
    width: 50%;
    padding-top: 50%;
    position: relative;
}
.left .photo-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

}
.left .name {
    font-weight: 600;
    font-size: 1.6rem;
    letter-spacing: 1px;
    color: #14213d;
    text-align: center;
}
.left .job {  
    color: #14213d;
    text-align: center;
    background-color: #E5E5E5;
    padding: 5px 10px;
    border-radius: 10px;
}
.left ul {
    background-color:  #E5E5E5;
    list-style: none;
    width: 100%;
    padding: 10px;
}
.left li {
    display: flex;
    align-items: center;
    margin: 15px 10px;
}
.left ul img {
    width: 25px;
    height: 25px;
   margin-right: 10px;
}
.left a {
    color: inherit;
    display: inherit;
}
.left > a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #14213D;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
}
.left i { 
    margin-right: 10px;
}
.right {
    flex: 3;
    margin: 5px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}
.right nav {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}
.right nav button{
    background: none;
    border: 2px solid #14213d;
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 10px;
    outline: none;
}
.right nav button:hover {
    background-color: #14213d;
    color: #fff;
}
.right .info {
    flex: 1;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.right .info .header {
    padding: 20px;
}
.right .info .header h2 {
    font-weight: 500;
    font-size: 16px;
    margin: 10px 0;
}
.right .info .body {
    flex: 1;
    padding: 20px;
    background-color: #E5E5E5;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
}
.right .info .body .box-container {
    flex: 1;
    display: grid;
    padding: 10px;
    justify-content: center;
    align-content: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 10px;
    margin-top: 10px;
}
.right .info .body .box-container .box {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}
.right .info .body .box-container .box i {
    margin-right: 10px;
    font-size: 25px;
}
.right .info .body .box-container .box .box-title{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

/* skill section */
.right .skills {
    flex: 1;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.right .skills .header {
    padding: 20px;
}
.right .skills .body {
    flex: 1;
    padding: 20px;
    background-color: #E5E5E5;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
}
.right .skills .body .item {
    margin-bottom: 20px;    
}
.right .skills .body h2 {
    font-size: 20px;    
}
.right .skills .body .percentage-container {
    height: 3px;
    width: 100%;
    margin-top: 15px;
    background-color: #b9b9b9;
    display: flex;
    align-items: center;
}
.right .skills .body .percentage {
    height: 20px;
    background-color: #14213D;
    border-radius: 15px;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    font-size: 16px;
}
/* language section */

.right .languages {
    flex: 1;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.right .languages .header {
    padding: 20px;
}
.right .languages .body {
    flex: 1;
    padding: 20px;
    background-color: #E5E5E5;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
}
.right .languages .body .item {
    margin-bottom: 20px;    
}
.right .languages .body h2 {
    font-size: 20px;    
}
.right .languages .body i{
    color: #b9b9b9;  
    margin-top: 10px;
    font-size: 20px;
}
.right .languages .body .checked{
    color: #14213D;  
}
/* projects section */
.right .projects {
    flex: 1;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.right .projects .header {
    padding: 20px;
}
.right .projects .body {
    flex: 1;
    padding: 20px;
    background-color: #E5E5E5;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
}
.right .projects .body .box-container {
  
    flex: 1;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    padding: 10px;
    gap: 10px;
    justify-content: center;
}
.right .projects .body .box-container .box{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.right .projects .body .box-container .box img{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.right .projects .body .box-container .box .description{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right .projects .body .link {
    padding-top: 15px;
    text-align: end;
}

@media only screen and (max-width: 1015px) {
    main {
        width: 95%;
        height: 95%;
    }
  }
@media only screen and (max-width: 815px) {
    body {
        padding: 5px;
    }
    main {
        width: 100%;
        height: 100%;
    }
  }
@media only screen and (max-width: 795px) {
    main {
        flex-direction: column;
    }
    .left .photo-container {
        width: 20vw;
        padding: 0;
        height: 20vw;
    }
  }
@media only screen and (max-width: 575px) {
    .right .info .body .box-container {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        padding: 0;
    }
    .right .projects .body .box-container {
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto;
    }
  }
@media only screen and (max-width: 500px) {
    .right .projects .body .box-container {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
    }
@media only screen and (max-width: 415px) {
    .right nav {
        flex-wrap: wrap;
        padding: 10px 10px 0;
    }
    .right nav button {
        flex: 1;
        margin-bottom: 10px;
    }
  }
@media only screen and (max-width: 345px) {
    .right .languages .body i {
        font-size: 15px;
    }
  }
}
.active-btn {
    color: #fff;
    background-color: #14213d !important;
}