.trabalhos{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    opacity: 0;
    animation: trabalhos-fade .7s linear forwards;
}
.trabalhos img {
    max-width: 100%;
    border-radius: 7px;
    margin-bottom: 5px;
}

.trabalhos a {
    min-width: 150px;
    max-width: 20%;
    margin: 10px;
    background-color: #444;
    padding: 6px 6px 20px 6px;
    border-radius: 10px;
    color: White;
    text-decoration: none;
}
.trabalhos a:hover {
    transform: scale(1.1);
    transition: 10ms;
    box-shadow: 0px 0px 1px #444;
    z-index: 2;
    opacity: 1;
}
@keyframes trabalhos-fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}