.circles-wraper{
    margin-top: 30px;
}
.circle-container {
    position: relative;
    display: inline;
    text-align: center;
    margin: 4px;
}

.circle-black {
    stroke: #666;
    stroke-width: 1;
    fill: none;
    stroke-width: 0.7;
}
.circle-container span {
    height: 200px;
    color: #444;
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -55%);
    font-family: Arial, Helvetica, sans-serif;

}

.circular-chart {
    width: 200px;
    height: 200px;
}
.circle {
    stroke: #444;
    fill: none;
    stroke-width: 0;
    animation: progress .9s linear forwards;
    transition-duration: 1s;
    animation-delay: 0.2s;
}
.circle-container:hover .span {
    font-size: 30px;
}
@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
    1%{
        stroke-width: 1.5px;
    }
    100%{
        stroke-width: 1.5px;
    }
    
}    
.skills-section{
    text-align: center;
    padding-top: 20px;
}

/*.progress-container{
    position: relative;
    top: 200px;
    width: 800px;
    height: 20px;
    background-color: gray;
}
.actual-progress{
    height: 20px;
    width: 0;
    background-color: red;
    animation: progressbar 2s linear forwards;
    animation-delay: 0.5s;
}
@keyframes progressbar {
    0% {
        width: 0;
        opacity: 0.1;
    }
    90%{
        opacity: 1;
    }
    100% {
        width: 70%;
    }
}*/