* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: rgb(53, 54, 58);
  font-family: Arial, Helvetica, sans-serif;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

header > h1 {
  color: #d7d7d7;
}

img {
  width: 50px;
  background-color: rgb(29, 29, 29);
  padding: 7px;
  border-radius: 10px;
  width: 50px;
  height: 50px;
}

main {
  background-color: rgb(29, 29, 29);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-top: 20px;
  width: 100%;
}
.total,
.new,
.deaths,
.recovered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #d7d7d7;
}
.total-cases {
  font-size: 7rem;
  font-weight: 600;
  color: blue;
}
.new-cases {
  font-size: 7rem;
  font-weight: 600;
  color: orange;
}
.total-deaths {
  font-size: 7rem;
  font-weight: 600;
  color: red;
}
.total-recovered {
  font-size: 7rem;
  font-weight: 600;
  color: green;
}
footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgb(29, 29, 29);
}
footer > img {
  width: 50px;
  padding: 12px;
  background-color: rgb(29, 29, 29);
}
.updated {
  color: #d7d7d7;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .total-cases,
  .new-cases,
  .total-deaths,
  .total-recovered {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 400px) {
  header > h1 {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 380px) {
  .total-cases,
  .new-cases,
  .total-deaths,
  .total-recovered {
    font-size: 4rem;
  }
}
