table{
    color: #d7d7d7;
    width: 80vw;
    margin-bottom: 100px;
    border-collapse: separate;
}
th {
    background-color: rgb(39, 47, 78);
    text-align: left    ;
}

td ,th{
    padding: 5px 10px 4px 10px;
}
td:nth-child(n+2),th:nth-child(n+2){
    text-align: right;
}
tbody tr:nth-child(even){
    background-color: rgb(53, 54, 58);
}
@media only screen and (max-width: 800px) {
    table{
        width: 100%;
        font-size: 0.8rem;
    }
    main{
        padding: 50px 0 50px 0;
    }
}
@media only screen and (max-width: 590px) {
    th{
        font-size: 0.6rem;
    }
    tr{
        font-size: 0.6rem;
    }
}
@media only screen and (max-width: 480px) {
    th{
        font-size: 0.5rem;
        padding: 5px;
    }
    tr{
        font-size: 0.5rem;
        padding: 5px;
    }
}