.linguas {
	width: 95%;
	text-align: center;
	margin-top: 50px;
}

.circle-container {
	text-align: center;
	padding: 30px;
	position: relative;
	display: inline;
}

.circle-black {
	stroke: gray;
	fill: none;
	stroke-width: 0.7;
}

.circle-container span {
	height: 200px;
	color: white;
	font-size: 25px;
	font-weight: 400;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	
}
.circular-chart {
	max-width: 200px;
	max-height: 200px;
	border-radius: 100%;
	padding: 7px;
	background-color: darkgray;
	
	
  }
  
.circle {
	stroke: #5757ff;
	fill: none;
	stroke-width: 1;
	animation: progress 3s linear forwards;
	transition-duration: 1s;
  }
  
.circle-container:hover .circle {
	
	transition-duration: 1s;
	stroke-width: 2.2;
}

  
  @keyframes progress {
	0% {
	  stroke-dasharray: 0 100;
	}
  }