.competencias {
    width: 95%;
    margin: 0 auto;
}

.progress {
    width: 100%;
    margin: 0 auto;
    background-color: gray;
    height: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 5px;
}
.competencias span {
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    font-size: 25px;
}
.HTML {
    background-color: blue;
    width: 80%;
    height: 20px;
    border-radius: 10px;
    padding: 1px;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    text-align: end;
    padding-right: 20px;
}

.CSS {
    background-color: orange;
    width: 65%;
    height: 20px;
    border-radius: 10px;
    padding: 1px;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    text-align: end;
    padding-right: 20px;
}
.JS{
    background-color: greenyellow;
    width: 40%;
    height: 20px;
    border-radius: 10px;
    padding: 1px;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    text-align: end;
    padding-right: 20px;
}
.PHP {
    background-color: red;
    width: 30%;
    height: 20px;
    border-radius: 10px;
    padding: 1px;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    text-align: end;
    padding-right: 20px;
}


