* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 800px;
    margin: 0 auto;
    
}

header {
    text-align: center;
    font-weight: 800;
    font-size: 17px;
}

header section {
    text-align: left;
    font-weight: 600;
    font-size: 15px;
}

header input {
    width: 450px;
    border: none;
    border-bottom: 2px solid black;
    padding-top: 10px;
}

main {
    margin-top: 10px;
}

main table {
    width: 100%;
    border: 1px solid black;
    margin-top: 20px;
    border-collapse: collapse;
}

main table th {
    background-color: rgba(128, 128, 128, 0.5);
    text-align: left;
    height: 20px;
}

main table td:nth-child(1) {
    padding-left: 5px;
}

main table th:nth-child(n+2){
    text-align: center;
    width: 40px;
}


main table td:nth-child(n+2){
    text-align: center;
}
main table td:nth-child(n+2) input{
    border: none;
    width: 99%;
}

section table td input {
    width: 10px;
}

section table {
    width: 100%;
    border-collapse: collapse;
}

section table td {
    height: 30px;
    width: 33%;
    padding-left: 10px;
}

section table td input {
    border: none;
}

main table td input {
    cursor: pointer;
}
